{% extends "adm_base.html" %}
{% load static %}
{% load staticfiles %}

{% block title %}
    Stock Info
{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>Stock Management
            <small>Admin</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'tradingSystem:adm_index' %}"><i class="fa fa-dashboard"></i> HomePage</a></li>
            <li class="active">Admin</li>
            <li class="active">Stock</li>
        </ol>
    </section>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Stock List</h3>
            <div class="box-header ">
                {% comment %}

                <label for="college" style="color: red">学院：</label><select id="college" class="select2"
                                                                           style="width: 20%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_college %}
                    <option value="{{ item }}">{{ item }}
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label style="color: red">专业：</label><select id="major" class="select2" style="width: 15%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_major %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>入学年份：</label><select id="year" class="select2" style="width: 15%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_in_year %}
                    <option value="{{ item.in_year }}">{{ item.in_year }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endcomment %}
            </div>

            <div class="box-body">
                <table id="stock_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Stock Code</th>
                        <th>Name</th>
                        <th>Issue date</th>
                        <th>Yesterday’s closing price</th>
                        <th>Today’s opening price</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Incre</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for stock in all_stock %}
                        {% if stock.change_extent > 0 %}
                            <tr style="color: red">
                                <td>{{ stock.stock_id }}</td>
                                <td>{{ stock.stock_name }}</td>
                                <td>{{ stock.issuance_time }}</td>
                                <td>{{ stock.closing_price_y }}</td>
                                <td>{{ stock.open_price_t }}</td>
                                <td>{{ stock.stock_type }}</td>
                                <td>{{ stock.block }}</td>
                                <td>{{ stock.change_extent }}</td>
                                <td style="vertical-align: middle">
                                    <a href="{% url 'tradingSystem:adm_view_stock' stock.stock_id %}">Details</a>
                                </td>
                            </tr>
                            {% else %}
                            <tr style="color: green">
                                <td>{{ stock.stock_id }}</td>
                                <td>{{ stock.stock_name }}</td>
                                <td>{{ stock.issuance_time }}</td>
                                <td>{{ stock.closing_price_y }}</td>
                                <td>{{ stock.open_price_t }}</td>
                                <td>{{ stock.stock_type }}</td>
                                <td>{{ stock.block }}</td>
                                <td>{{ stock.change_extent }}</td>
                                <td style="vertical-align: middle">
                                    <a href="{% url 'tradingSystem:adm_view_stock' stock.stock_id %}">Details</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        {% comment %}
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var college = $('#college').val();
                var major = $('#major').val();
                var year = $('#year').val();
                return ((college === data[1] || college === "ALL") && (((major === data[2] || major === "ALL") && (year === data[3] || year === "ALL"))));
            }
        );
        {% endcomment %}

        $(document).ready(function () {
            var table = $('#stock_table').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [

                    ],
                    "paging": true,       <!-- 允许分页 -->
                    "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                    "searching": true,    <!-- 允许内容搜索 -->
                    "ordering": true,     <!-- 允许排序 -->
                    "info": true,         <!-- 显示信息 -->
                    "autoWidth": false,    <!-- 固定宽度 -->
                    "language": {
                        "sProcessing": "Processing...",
                        "sLengthMenu": "Show _MENU_ Result",
                        "sZeroRecords": "No Matching",
                        "sInfo": "Show From _START_ To _END_ Result，Total _TOTAL_ ",
                        "sInfoEmpty": "Show From 0 To 0 Result，Total 0 ",
                        "sInfoFiltered": "(Filter By _MAX_ Result)",
                        "sInfoPostFix": "",
                        "sSearch": "Search:",
                        "sUrl": "",
                        "sEmptyTable": "Empty",
                        "sLoadingRecords": "Loading...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "First",
                            "sPrevious": "Last",
                            "sNext": "Next",
                            "sLast": "End"
                        },
                        "oAria": {
                            "sSortAscending": ": Asc",
                            "sSortDescending": ": Desc"
                        }
                    },
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": true,
                        "targets": 0
                    }],
                    "order": [[0, 'asc']]
                }
            );

            // Event listener to the two range filtering inputs to redraw on input
            $('#major, #year, #college').change(function () {
                table.draw();
            });
            $('.select2').select2();
        });


    </script>
{% endblock %}


